polymer-date-picker-calendar {
  display: block;
  float: left;
}

.daterangepicker {
  background-color: #FFFFFF;
  display: inline-block;
  position: relative;
  left: -25px;
  top: 4px;
  &:before {
    content: '';
    position: absolute;
    top: -2px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }
  &:after {
    position: absolute;
    top: -1px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
  }
  &.opensleft {
    .ranges {
      float: right;
    }
    &:before {
      right: 19px;
    }
    &:after {
      right: 20px;
    }
  }
  &.opensright {
    .ranges {
      float: left;
    }
    &:before {
      left: 19px;
    }
    &:after {
      left: 20px;
    }
  }

  .ranges {
    width: 160px;
    padding: 8px;
    margin: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        padding: 5px 12px;
        margin-bottom: 8px;
        font-size: 13px;
        cursor: pointer;
        color: #0088CC;
        border-radius: 5px;
        background-color: #F5F5F5;
        &.active, &:hover {
          background: #0088CC;
          color: #FFFFFF;
        }
      }
    }
  }
}
