link(rel="import", href="../polymer/polymer.html")
link(rel="import", href="polymer-date-picker-calendar.html")
link(rel="import", href="polymer-date-picker-positioning.html")

script(src="../moment/min/moment.min.js")

polymer-element(name="polymer-date-picker", extends="polymer-date-picker-positioning", attributes="range selectedDate startDate endDate opened halign relatedTarget selected showRanges")
  template
    link(rel="stylesheet" href="polymer-date-picker.css")
    div(id="target" class="daterangepicker opensright")
      template(if="{{range != null}}")
        div(class="ranges" hidden?="{{!showRanges}}")
          ul
            li(on-click="{{todayClicked}}" class="{{ {active: (selected == 'today') } | tokenList }}") Today
            li(on-click="{{yesterdayClicked}}" class="{{ {active: (selected == 'yesterday') } | tokenList }}") Yesterday
            li(on-click="{{last7DaysClicked}}" class="{{ {active: (selected == 'last7Days') } | tokenList }}") Last 7 Days
            li(on-click="{{last30DaysClicked}}" class="{{ {active: (selected == 'last30Days') } | tokenList }}") Last 30 Days
            li(on-click="{{thisMonthClicked}}" class="{{ {active: (selected == 'thisMonth') } | tokenList }}") This Month
            li(on-click="{{lastMonthClicked}}" class="{{ {active: (selected == 'lastMonth') } | tokenList }}") Last Month
            li(on-click="{{customClicked}}" class="{{ {active: (selected == 'custom') } | tokenList }}") Custom
        polymer-date-picker-calendar(start startDate="{{startDate}}" endDate="{{endDate}}" hidden?="{{selected != 'custom'}}")
        polymer-date-picker-calendar(end startDate="{{startDate}}" endDate="{{endDate}}" hidden?="{{selected != 'custom'}}")
      template(if="{{range == null}}")
        polymer-date-picker-calendar(selectedDate="{{selectedDate}}")

  script.
    Polymer("polymer-date-picker", {
      halign: 'middle',
      selected: "",
      ready: function() {
        this.target = this.$.target;
        this.super();
      },
      close: function() {
        this.opened = false;
      },
      todayClicked: function(e) {
        this.startDate = this.format(moment());
        this.endDate = this.format(moment());
        this.selected = "today";
        this.close();
      },
      yesterdayClicked: function() {
        this.startDate = this.format(moment().subtract(1, "days"));
        this.endDate = this.format(moment().subtract(1, "days"));
        this.selected = "yesterday";
        this.close();
      },
      last7DaysClicked: function() {
        this.startDate = this.format(moment().subtract(6, "days"));
        this.endDate = this.format(moment());
        this.selected = "last7Days";
        this.close();
      },
      last30DaysClicked: function() {
        this.startDate = this.format(moment().subtract(30, "days"));
        this.endDate = this.format(moment());
        this.selected = "last30Days";
        this.close();
      },
      thisMonthClicked: function() {
        this.startDate = this.format(moment().startOf("month"));
        this.endDate = this.format(moment().endOf("month"));
        this.selected = "thisMonth";
        this.close();
      },
      lastMonthClicked: function() {
        this.startDate = this.format(moment().subtract(1, "months").startOf("month"));
        this.endDate = this.format(moment().subtract(1, "months").endOf("month"));
        this.selected = "lastMonth";
        this.close();
      },
      customClicked: function() {
        this.selected = "custom"
      },
      format: function(moment) {
        return moment.format("YYYY-MM-DD");
      }
    });